<p id="notice"><%= notice %></p>

<p>
  <strong>人:</strong>
  <%= @home.title %>
</p>

<p>
  <strong>銀行:</strong>
  <%= @home.bank %>
</p>

<p>
  <strong>財布:</strong>
  <%= @home.price %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
